In [6]:
import numpy as np

import pandas as pd

import sklearn
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.metrics.pairwise import rbf_kernel
# from sklearn.base import BaseEstimator, TransformerMixin
# from sklearn.pipeline import Pipeline, FeatureUnion
# from sklearn.compose import ColumnTransformer
# from sklearn.impute import SimpleImputer
# from sklearn.preprocessing import (
# 	OneHotEncoder,
# 	OrdinalEncoder,
# 	StandardScaler,
# 	MinMaxScaler,
# 	PowerTransformer,
# 	FunctionTransformer
# )

# from feature_engine.outliers import Winsorizer
# from feature_engine.datetime import DatetimeFeatures
# from feature_engine.selection import SelectBySingleFeaturePerformance
# from feature_engine.encoding import (
# 	RareLabelEncoder,
# 	MeanEncoder,
# 	CountFrequencyEncoder
# )

# import matplotlib.pyplot as plt

import warnings

# 2. Display Settings

In [7]:
pd.set_option("display.max_columns", None)

In [8]:
sklearn.set_config(transform_output="pandas")

In [9]:
warnings.filterwarnings("ignore")

# 3. Reading Data

In [18]:
path = r'C:\Users\91830\Desktop\Fligt Sagemaker\Data\train.csv'
train=pd.read_csv(path)

train

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-21,Banglore,New Delhi,08:55:00,19:10:00,615,1.0,In-flight meal not included,7832
1,Jet Airways,2019-03-27,Delhi,Cochin,17:30:00,04:25:00,655,1.0,In-flight meal not included,6540
2,Goair,2019-03-09,Banglore,New Delhi,11:40:00,14:35:00,175,0.0,No Info,7305
3,Air India,2019-06-12,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8366
4,Jet Airways,2019-03-12,Banglore,New Delhi,22:55:00,07:40:00,525,1.0,In-flight meal not included,11087
...,...,...,...,...,...,...,...,...,...,...
6690,Jet Airways,2019-03-21,Delhi,Cochin,10:45:00,18:50:00,1925,2.0,No Info,11093
6691,Air India,2019-05-01,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8891
6692,Jet Airways,2019-06-01,Delhi,Cochin,14:00:00,19:00:00,300,1.0,In-flight meal not included,10262
6693,Air Asia,2019-06-24,Delhi,Cochin,07:55:00,13:25:00,330,1.0,No Info,6152
6694,Air India,2019-03-01,Banglore,New Delhi,11:50:00,08:55:00,1265,1.0,1 Long layover,14594

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6695 entries, 0 to 6694
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          6695 non-null   object
 1   date_of_journey  6695 non-null   object
 2   source           6695 non-null   object
 3   destination      6695 non-null   object
 4   dep_time         6695 non-null   object
 5   arrival_time     6695 non-null   object
 6   duration         6695 non-null   int64
 7   total_stops      6694 non-null   float64
 8   additional_info  6695 non-null   object
 9   price            6695 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 523.2+ KB

In [20]:
X_train = train.drop(columns='price')
y_train=train.price.copy()

# 4. Transformation Operations